extends layout

block head
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  script(type="text/javascript" src="/js/d3.v3.min.js" charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/main.css')

block content
  div.container
    div.col-md-11.col-md-offset-1
      div.hello
        h1 Hello #{name} !
      div.col-md-2
        button#show-metrics(type="button" class="btn btn-success") Show metrics
      div.col-md-7
        button#save-metrics(type="button" class="btn btn-warning") Save a metric
      button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
      div.col-md-11
          #metrics
          #form
            h3.under Save a metric
            p
              i This form is pre-filled with example values
            form#metric(action='/metrics', method="post")
              .form-group
                label Timestamp (as number of ms since 1970-01-01)
                br
                input(type='number', name="timestamp", value="1512201600000")
              .form-group
                label Value
                br
                input(type='number', name="value", value="0")
              button#metric_submit.btn.btn-primary(type='submit')
                i.icon-ok.icon-white
                |  Save
          hr
          h3 Metrics' evolution through time
          #chart

  script
    :coffee-script
      # Set the dimensions of the canvas / graph
      margin = {top: 30, right: 20, bottom: 30, left: 50}
      width = 600 - margin.left - margin.right
      height = 270 - margin.top - margin.bottom
      
      # Set the ranges
      x = d3.time.scale().range([0, width])
      y = d3.scale.linear().range([height, 0])
      
      # Define the axes
      xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(5)
      
      yAxis = d3.svg.axis().scale(y).orient("left").ticks(5)
      
      # Define the line
      valueline = d3.svg.line().x((d) -> return x(d.timestamp)).y((d) -> return y(d.value))
      
      # Adds the svg canvas
      svg = d3.select("#chart")
          .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
          .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      
      # Get the data
      $.getJSON "/metrics", {}, (data) ->
        format = d3.time.format("%d/%m/%Y at %H:%M:%S")
        metricscontent = "<h3>Your metrics</h3><ul>"
        data.forEach (d) ->
          d.timestamp = new Date(+d.timestamp)
          d.value = +d.value
          metricscontent += "<li><b>Timestamp:</b> #{+d.timestamp} <i>(i.e. #{format(d.timestamp)})</i>, <b>Value:</b> #{d.value}</li>"
        metricscontent += "</ul>"
        $('#metrics').html metricscontent
    
        # Scale the range of the data
        x.domain(d3.extent(data, (d) -> return d.timestamp))
        y.domain([0, d3.max(data, (d) -> return d.value)])
    
        # Add the valueline path.
        svg.append("path")
            .attr("class", "line")
            .attr("d", valueline(data))
    
        # Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
    
        # Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            
        # Handle page buttons
        metricsdisplayed = false
        $('#metrics').hide()
        $('#form').hide()
        $('#show-metrics').click (e) ->
          e.preventDefault()
          $('#metrics').toggle()
          if !metricsdisplayed
            $('#show-metrics').text "Hide metrics"
          else
            $('#show-metrics').text "Show metrics"
          metricsdisplayed = !metricsdisplayed
        $('#save-metrics').click (e) ->
          e.preventDefault()
          $('#form').toggle()
          
          
      
