extends layout

block head
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  
block content
    div.container
        div.col-md-11.col-md-offset-1
          #form
            h3.text-center Please login to your account
            hr
            div.col-md-5
                form#login(action='/login', method="post")
                  .form-group
                    label Username
                    input.form-control(type='text', name="username")
                  .form-group
                    label Password
                    input.form-control(type='password', name="password")
                  button#login_submit.btn.btn-primary.btn-lg.btn-block(type='submit')
                    i.icon-ok.icon-white
                    |  Connect
