svg 
  font: 12px Arial


path 
  stroke: steelblue
  stroke-width: 2
  fill: none

.axis path, .axis line 
  fill: none
  stroke: grey
  stroke-width: 1
  shape-rendering: crispEdges

.hello
    margin-bottom: 4%
    text-align: center

.under
    text-decoration: underline
